@import url(reset.css);
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
* {
  font-weight: 400;
}

button {
  color: inherit;
  font-size: inherit;
  padding: 0;
  background: transparent;
  border: none;
}

body {
  font-family: Helvetica;
  font-weight: 400;
  color: #5C5C5E;
  font-size: 16px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.header {
  background: #F6F4F5;
  border-bottom: 1px solid #CACAD6;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 19px 0;
}
.header__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0 20px;
  height: 100%;
  width: 25%;
}
.header__item {
  position: relative;
  left: 0;
  bottom: -7%;
  text-transform: uppercase;
  line-height: 1.4;
}
.header__logo {
  text-align: center;
  width: 50%;
}
.header__bag {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 25%;
}
.header__bag span {
  display: none;
}
.header__bag-on span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  background-color: black;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.meta {
  height: 800px;
  background: url("../img/bg1.jpg") no-repeat center bottom/cover;
}
.meta__container {
  height: 100%;
}
.meta__title {
  padding-top: 230px;
  font-weight: 400;
  font-size: 96px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.meta__subtitle {
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 1.13;
}
.meta__text {
  font-size: 13px;
  line-height: 1.15;
}
.meta__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  padding: 1px;
}
.meta__buy, .meta__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 21px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: #5C5C5E;
}
.meta__buy {
  color: #F6F4F5;
}
.meta__price {
  background-color: #ececec;
}
.meta__text-button {
  font-size: 13px;
  line-height: 1.15;
}

.main-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
}

.main-subtitle {
  font-size: 36px;
  line-height: 1.138;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs__container {
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 100px 0 auto;
  grid-template-rows: 100px auto;
  gap: 0 10px;
}

.tabs__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.tabs__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.tabs__container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.tabs__container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.tabs__container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.tabs__container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.tabs__container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.tabs__container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.tabs__nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 2/-1;
}
.tabs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.tabs__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.tabs__button-active {
  color: #070707;
}
.tabs__items {
  position: relative;
  min-height: 300px;
  grid-column: 2/-1;
}
.tabs__title {
  grid-column: 2/-1;
  max-width: 330px;
}
.tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 580px 47px auto;
  grid-template-columns: 580px auto;
  gap: 0 47px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tab__content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tab__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 10px;
}
.tab__text {
  font-size: 16px;
  line-height: 1.125;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.tab__video {
  position: relative;
  margin-top: 40px;
  height: 150px;
  width: 100%;
  background: url(../img/video-1.jpg) no-repeat center/cover;
}
.tab__video button {
  position: absolute;
  left: 31px;
  bottom: 36px;
}
.tab__video p {
  position: absolute;
  left: 9px;
  bottom: 10px;
  font-size: 13px;
  line-height: 1.15;
  color: #F6F4F5;
}

.tab-active {
  opacity: 1;
}

.games {
  padding-bottom: 100px;
}
.games__title {
  margin-bottom: 50px;
}
.games__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.games__texts {
  padding-right: 10px;
}
.games__subtitle {
  margin-bottom: 10px;
}
.games__text {
  font-size: 16px;
  line-height: 1.125;
}
.games__button {
  position: relative;
  border: 1px solid;
  padding: 16px 47px;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}
.games__button:hover::before {
  opacity: 0.1;
}
.games__button::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(182, 128, 183);
  opacity: 0;
}
.games__columns {
  grid-column: 2/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.games__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #BC10D8, #5000FA);
  height: 100%;
}
.games__column :not(:last-child) {
  margin-bottom: 10px;
}
.games__column:not(:last-child):not(:first-child) {
  border-left: 0;
  border-right: 0;
  margin-bottom: 10px;
}
.games__column h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  color: #070707;
}
.games__column p {
  font-size: 16px;
  line-height: 1.125;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.games__column button {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.125;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-flex-item-align: start;
      align-self: flex-start;
}