@import url(reset.css);
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
input {
  outline: none;
}

* {
  font-weight: 400;
}

button {
  color: inherit;
  font-size: inherit;
  padding: 0;
  background: transparent;
  border: none;
}

body {
  font-family: Helvetica;
  font-weight: 400;
  color: #5C5C5E;
  font-size: 16px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.wrapper {
  position: relative;
  z-index: -5;
}

body {
  position: relative;
  z-index: -5;
}

.header {
  background: #F6F4F5;
  border-bottom: 1px solid #CACAD6;
  position: relative;
}
.header__burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 31px;
  width: 40px;
}
.header__burger span {
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: black;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0 20px;
  height: 100%;
  width: 100%;
}

.header-footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 236px 1fr;
  grid-template-columns: 1fr 236px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 19px 0;
}
.header-footer__menu {
  height: 100%;
  width: 100%;
}
.header-footer__item {
  position: relative;
  left: 0;
  bottom: -7%;
  text-transform: uppercase;
  line-height: 1.4;
}
.header-footer__bag {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}
.header-footer__bag span {
  display: none;
}
.header-footer__bag-on span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  background-color: black;
}

.main {
  position: relative;
  z-index: -3;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.meta {
  height: calc(100vh - 81px);
  background: url("../img/bg1.jpg") no-repeat center bottom/cover;
}
.meta__container {
  height: 100%;
}
.meta__title {
  padding-top: 21.27vh;
  font-weight: 400;
  font-size: 96px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.meta__subtitle {
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 1.13;
}
.meta__text {
  font-size: 13px;
  line-height: 1.15;
}
.meta__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  padding: 1px;
}
.meta__buy, .meta__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20.5px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: #5C5C5E;
}
.meta__buy {
  color: #F6F4F5;
}
.meta__price {
  background-color: #ececec;
}
.meta__text-button {
  font-size: 13px;
  line-height: 1.15;
}

.main-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
}

.main-subtitle {
  font-size: 36px;
  line-height: 1.138;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs__container {
  padding: 100px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 100px 0 auto;
  grid-template-rows: 100px auto;
  gap: 0 10px;
}

.tabs__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.tabs__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.tabs__container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.tabs__container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.tabs__container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.tabs__container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.tabs__container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.tabs__container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.tabs__nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 2/-1;
}
.tabs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.tabs__button {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.tabs__button-active {
  color: #070707;
}
.tabs__items {
  position: relative;
  min-height: 300px;
  grid-column: 2/-1;
}
.tabs__title {
  grid-column: 2/-1;
  max-width: 330px;
}
.tab {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 47px 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 0 47px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
}
.tab__img {
  position: relative;
  overflow: hidden;
}
.tab__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tab__content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tab__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 10px;
}
.tab__text {
  font-size: 16px;
  line-height: 1.125;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.tab__video {
  position: relative;
  margin-top: 40px;
  height: 150px;
  width: 100%;
  background: url(../img/video-1.jpg) no-repeat center/cover;
}
.tab__video button {
  position: absolute;
  left: 31px;
  bottom: 36px;
}
.tab__video p {
  position: absolute;
  left: 9px;
  bottom: 10px;
  font-size: 13px;
  line-height: 1.15;
  color: #F6F4F5;
}

.tab-active {
  height: auto;
  opacity: 1;
}

.games {
  padding-bottom: 100px;
}
.games__title {
  margin-bottom: 50px;
}
.games__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.games__texts {
  padding-right: 10px;
}
.games__subtitle {
  margin-bottom: 10px;
}
.games__text {
  font-size: 16px;
  line-height: 1.125;
}
.games__button {
  position: relative;
  border: 1px solid;
  padding: 16px 47px;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}
.games__button:hover::before {
  opacity: 0.1;
}
.games__button::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(182, 128, 183);
  opacity: 0;
}
.games__columns {
  grid-column: 2/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.games__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #BC10D8, #5000FA);
  height: 100%;
}
.games__column :not(:last-child) {
  margin-bottom: 10px;
}
.games__column h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  color: #070707;
}
.games__column p {
  font-size: 16px;
  line-height: 1.125;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.games__column button {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.125;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.oculus {
  position: relative;
  padding-bottom: 109px;
  width: 100%;
  overflow: hidden;
}
.oculus .meta__price {
  background-color: #ffffff;
}
.oculus__title {
  position: absolute;
  opacity: 0.1;
  white-space: nowrap;
  top: 0;
  left: -101%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  font-weight: 700;
  width: auto;
  text-transform: uppercase;
  font-size: 400px;
  line-height: 0.9;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: oculus 6s linear infinite;
          animation: oculus 6s linear infinite;
}
.oculus__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.oculus__content img {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.oculus__content button {
  margin: 0 auto;
  margin-bottom: 10px;
}
.oculus__content p {
  text-align: center;
}

.other {
  padding-bottom: 100px;
}
.other__nav-title {
  margin-bottom: 50px;
}
.other__items {
  display: -ms-grid;
  display: grid;
  gap: 20px 30px;
  -ms-grid-columns: 2fr 30px 1fr 30px 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: 1fr 1fr;
}
.other__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.other__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.other__items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.other__items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.other__items > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.other__items > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.other__item:first-child {
  grid-row: 1/-1;
}
.other__item img {
  margin-bottom: 10px;
}
.other__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #5C5C5E;
}
.other__title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.13;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.metaverse {
  margin-bottom: 100px;
}
.metaverse__container {
  position: relative;
  height: 500px;
  background: url("../img/metaverse.jpg") no-repeat center/cover;
}
.metaverse__container button {
  text-transform: uppercase;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-radius: 50%;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: #FFFFFF;
  cursor: pointer;
}
.metaverse__container button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#de1afc), to(rgba(93, 18, 255, 0.93)));
  background: linear-gradient(180deg, #de1afc 0%, rgba(93, 18, 255, 0.93) 100%);
}

.accessories {
  margin-bottom: 100px;
}
.accessories__nav-title {
  margin-bottom: 30px;
}
.accessories__subtitle {
  margin-bottom: 30px;
}
.accessories__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.accessories__item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.accessories__item img {
  margin-bottom: 10px;
}
.accessories__item img + p {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  color: #070707;
  margin-bottom: 10px;
  min-height: 60px;
}
.accessories__item button {
  width: 100%;
  padding: 6px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.accessories__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 10px;
  min-height: 78px;
}
.accessories__price {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: #070707;
}

.form {
  margin-bottom: 100px;
}
.form__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 600px) 10px auto;
  grid-template-columns: minmax(auto, 600px) auto;
  gap: 10px;
}
.form__column:first-child p:first-child {
  font-size: 24px;
  line-height: 1.16;
  color: #070707;
  margin-bottom: 10px;
}
.form__column:first-child form {
  position: relative;
  width: 100%;
}
.form__column:first-child form input {
  border: none;
  width: 100%;
  height: 55px;
  font-size: 13px;
  line-height: 1.15;
  border-bottom: 1px solid #CACAD6;
  padding: 0 70px 0 10px;
}
.form__column:first-child form input:focus-visible {
  border: none;
  border-bottom: 1px solid #CACAD6;
}
.form__column:first-child form button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: #5C5C5E;
  border-radius: 50%;
  background: #CACAD6;
}
.form__column:first-child p:last-child {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.15;
}
.form__column:last-child {
  font-size: 16px;
  line-height: 1.125;
  -ms-grid-row-align: end;
  -ms-grid-column-align: end;
  place-self: end;
}
.form__column:last-child:hover {
  text-decoration: underline;
}

.footer {
  border-top: 1px solid #CACAD6;
  border-bottom: 1px solid #CACAD6;
  margin-bottom: 44px;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.footer__item {
  bottom: 0;
}
.footer__socials {
  width: 100%;
  place-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}

@media (max-width: 1080px) {
  .footer__menu {
    display: none;
  }
  .footer__nav {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 934px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 0;
    color: white;
    background-color: #070707;
    height: auto;
    width: auto;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    padding: 10px 0;
  }
  .header__item {
    width: 100%;
    padding: 10px 50px 10px 20px;
  }
  .header__item:hover {
    background-color: white;
    color: #070707;
  }
  .header__menu {
    top: 80px;
    left: 0;
    position: absolute;
    z-index: -2;
    height: auto;
    width: auto;
    -webkit-transform: translateY(-102%);
            transform: translateY(-102%);
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu-active {
    -webkit-transform: translateY(102%);
            transform: translateY(102%);
  }
  .header__item {
    bottom: 0;
  }
}
@media (max-width: 753px) {
  .meta__title {
    font-size: 76px;
  }
  .meta__subtitle {
    font-size: 30px;
  }
  .tabs__container {
    display: block;
  }
  .tabs__buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
  }
  .tabs__nav-title {
    margin-bottom: 20px;
  }
  .tabs__title {
    margin-bottom: 20px;
  }
  .games__content {
    gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .other__items {
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .other__items .other__item:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .accessories__content {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 630px) {
  .meta__container {
    text-align: center;
  }
  .meta__button {
    width: 100%;
  }
  .meta__title {
    font-size: 55px;
  }
  .meta__subtitle {
    font-size: 23px;
  }
  .tabs__tab {
    display: block;
  }
  .tab {
    overflow: hidden;
  }
  .tab__img {
    padding-bottom: 51.72%;
    margin-bottom: 20px;
  }
  .tab__video {
    height: auto;
    padding-bottom: 50%;
  }
  .form__container {
    display: block;
  }
  .form__container :first-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 514px) {
  .meta__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .meta__buy {
    width: 100%;
    text-align: center;
  }
  .meta__price {
    padding-left: 50px;
    padding-right: 50px;
  }
  .meta__button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .main-subtitle {
    font-size: 29px;
  }
  .tabs__title {
    max-width: 100%;
  }
  .games__content {
    display: block;
  }
  .games__content :not(:last-child) {
    margin-bottom: 20px;
  }
  .games__column {
    padding: 20px;
  }
  .other__title {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    font-size: 29px;
  }
  .other__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .other__items img {
    width: 100%;
  }
  .other__items .other__item:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .accessories__content {
    display: block;
  }
  .accessories__content :not(:last-child) {
    margin-bottom: 10px;
  }
  .accessories__item img + p {
    font-size: 20px;
    min-height: auto;
  }
  .footer__menu {
    display: none;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    height: auto;
  }
  .footer__socials {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: auto;
    gap: 30px;
  }
}
@media (max-width: 427px) {
  .header__nav {
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .header__logo, .header__inner, .header__menu {
    width: 100%;
  }
}
@media (max-width: 372px) {
  .meta__title {
    font-size: 40px;
  }
  .meta__subtitle {
    font-size: 23px;
  }
  .tabs__buttons {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 15px;
  }
}