@import url(reset.css);

@font-face {
    font-family: "Helvetica";
    src: url(../fonts/helvetica-bold.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Helvetica";
    src: url(../fonts/helvetica.woff2);
    font-style: normal;
    font-weight: 400;
}

input {
    outline: none;
}

* {

    font-weight: 400;
}

button {
    color: inherit;
    font-size: inherit;
    padding: 0;
    background: transparent;
    border: none;
}

body {
    font-family: Helvetica;
    font-weight: 400;
    color: #5C5C5E;
    font-size: 16px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}


.wrapper {
    position: relative;
    z-index: -5;
}


body {
    position: relative;
    z-index: -5;
}

.header {

    background: #F6F4F5;
    border-bottom: 1px solid #CACAD6;
    position: relative;
    // z-index: 2;

    &__burger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 31px;
        width: 40px;

        & span {
            display: inline-block;
            height: 3px;
            width: 100%;
            background-color: black;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0 20px;
        height: 100%;
        width: 100%;
    }
}

.header-footer {

    &__nav {
        display: grid;
        grid-template-columns: 1fr 236px 1fr;
        // justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 19px 0;
    }

    &__menu {
        height: 100%;
        width: 100%;
    }

    &__item {
        position: relative;
        left: 0;
        bottom: -7%;
        text-transform: uppercase;
        line-height: 1.4;
    }

    &__item-link {}

    &__logo {
        // text-align: center;
        // width: 50%;
    }

    &__bag {
        position: relative;
        display: flex;
        justify-content: end;
        width: 100%;

        & span {
            display: none;
        }

        &-on span {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 10px;
            color: white;
            background-color: black;
        }
    }
}

.main {
    position: relative;
    z-index: -3;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.meta {
    height: calc(100vh - 81px);
    // height: 800px;
    background: url("../img/bg1.jpg") no-repeat center bottom/cover;

    &__container {
        height: 100%;
    }

    &__title {
        padding-top: 21.27vh;
        font-weight: 400;
        font-size: 96px;
        line-height: 1.14;
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-bottom: 5px;
        font-size: 36px;
        line-height: 1.13;
    }

    &__text {
        font-size: 13px;
        line-height: 1.15;
    }

    &__button {
        display: flex;
        width: 600px;
        margin-top: 50px;
        margin-bottom: 10px;
        border: none;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        padding: 1px;
    }

    &__buy,
    &__price {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        padding: 20.5px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.125;

        color: #5C5C5E;
    }

    &__buy {
        color: #F6F4F5;
    }

    &__price {
        background-color: #ececec;
        // height: 100%;
    }

    &__text-button {
        font-size: 13px;
        line-height: 1.15;
    }
}

// COMMON

.main-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
}

.main-subtitle {
    font-size: 36px;
    line-height: 1.138;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// TABS 

.tabs {

    &__container {
        padding: 100px 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px auto;
        gap: 0 10px;
    }

    &__nav {
        grid-column: 1/2;
        grid-row: 2/-1;
    }

    &__nav-title {}

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    &__button {
        text-align: left;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }

    &__button-active {
        color: #070707;
    }

    &__items {
        position: relative;
        min-height: 300px;
        grid-column: 2/-1;
    }

    &__title {
        grid-column: 2/-1;
        max-width: 330px;
    }

    &__tab {}
}

.tab {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 47px;
    opacity: 0;
    transition: opacity 0.3s ease;
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;

    &__img {
        position: relative;
        overflow: hidden;

        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__content {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.125;
        flex: 1 1 auto;
    }

    &__video {
        position: relative;
        margin-top: 40px;
        height: 150px;
        width: 100%;
        background: url(../img/video-1.jpg) no-repeat center/cover;

        & button {
            position: absolute;
            left: 31px;
            bottom: 36px;
        }

        & p {
            position: absolute;
            left: 9px;
            bottom: 10px;
            font-size: 13px;
            line-height: 1.15;
            color: #F6F4F5;
        }


    }
}

.tab-active {
    height: auto;
    opacity: 1;
}

// GAMES

.games {
    padding-bottom: 100px;

    &__container {}

    &__title {
        margin-bottom: 50px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__texts {
        padding-right: 10px;
    }

    &__subtitle {
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.125;
    }

    &__button {
        position: relative;
        // z-index: 1;
        border: 1px solid;
        padding: 16px 47px;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.125;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 30px;

        &:hover {
            &::before {
                opacity: 0.1;
            }
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(182 128 183);
            opacity: 0;

        }
    }

    &__columns {
        grid-column: 2/-1;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__column {
        display: flex;
        flex-direction: column;
        padding: 15px;

        border: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(to bottom, #BC10D8, #5000FA);
        height: 100%;

        & :not(:last-child) {
            margin-bottom: 10px;
        }

        & h4 {

            font-weight: 400;
            font-size: 24px;
            line-height: 1.16;
            color: #070707;
        }

        & p {
            font-size: 16px;
            line-height: 1.125;
            flex: 1 1 auto;
        }

        & button {
            margin-top: 40px;
            font-size: 16px;
            line-height: 1.125;
            background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            align-self: flex-start;
        }
    }
}

.game-column {}

///OCULUS 
// /// 
@keyframes oculus {
    0% {
        transform: translateX(-100%);
        left: 0;
    }

    100% {
        transform: translateX(0);
        left: 101%;
    }
}



.oculus {
    position: relative;
    padding-bottom: 109px;
    width: 100%;
    overflow: hidden;

    & .meta__price {
        background-color: #ffffff;
    }

    &__title {
        position: absolute;
        opacity: 0.1;
        white-space: nowrap;
        top: 0;
        left: -101%;
        transform: translateX(-100%);
        font-weight: 700;
        width: auto;
        text-transform: uppercase;
        font-size: 400px;
        line-height: 0.9;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: oculus 6s linear infinite;

        // &::before {
        //     content: "Oculus";
        // }

        // // animation-delay: 1s;
        // &-2 {
        //     animation-delay: 6s;

        // }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;

        & img {
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 30px;
        }

        & button {
            margin: 0 auto;
            margin-bottom: 10px;
        }

        & p {
            text-align: center;
        }
    }
}

// OTHER

.other {
    padding-bottom: 100px;

    &__container {}

    &__nav-title {
        margin-bottom: 50px;
    }

    &__items {
        display: grid;

        gap: 20px 30px;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__item {
        &:first-child {
            grid-row: 1/-1;
        }

        & img {
            margin-bottom: 10px;
        }

        & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.125;
            color: #5C5C5E;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 1.13;
        text-transform: uppercase;
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// METAVERSE

.metaverse {
    margin-bottom: 100px;

    &__container {
        position: relative;
        height: 500px;
        background: url("../img/metaverse.jpg") no-repeat center/cover;

        & button {
            text-transform: uppercase;
            position: absolute;
            width: 50px;
            height: 50px;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);
            background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
            border-radius: 50%;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.125;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                background: linear-gradient(180deg, #de1afc 0%, rgba(93, 18, 255, 0.93) 100%);
            }
        }
    }
}

//ACCESSORIES

.accessories {
    margin-bottom: 100px;

    &__container {}

    &__nav-title {
        margin-bottom: 30px;
    }

    &__subtitle {
        margin-bottom: 30px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 1px solid;
        border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;

        & img {
            margin-bottom: 10px;
        }

        & img+p {
            font-weight: 400;
            font-size: 24px;
            line-height: 1.16;
            color: #070707;
            margin-bottom: 10px;
            min-height: 60px;
        }

        & button {
            width: 100%;
            padding: 6px 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.125;
            background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 1px solid;
            border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
        }

    }

    &__text {
        flex: 1 1 auto;
        margin-bottom: 10px;
        min-height: 78px;
    }

    &__price {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.125;
        color: #070707;
    }
}

// FORM

.form {
    margin-bottom: 100px;

    &__container {
        display: grid;
        grid-template-columns: minmax(auto, 600px) auto;
        gap: 10px;
    }

    &__column {
        &:first-child {
            & p:first-child {
                font-size: 24px;
                line-height: 1.16;
                color: #070707;
                margin-bottom: 10px;
            }

            & form {
                position: relative;
                width: 100%;

                & input {
                    border: none;
                    width: 100%;
                    height: 55px;
                    font-size: 13px;
                    line-height: 1.15;
                    // color: #070707;
                    border-bottom: 1px solid #CACAD6;
                    padding: 0 70px 0 10px;

                    &:focus-visible {
                        border: none;
                        border-bottom: 1px solid #CACAD6;
                    }
                }

                & button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 50px;
                    height: 50px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1.125;
                    color: #5C5C5E;
                    border-radius: 50%;
                    background: #CACAD6;
                }
            }

            & p:last-child {
                margin-top: 10px;
                font-size: 13px;
                line-height: 1.15;
            }
        }

        &:last-child {
            font-size: 16px;
            line-height: 1.125;
            place-self: end;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// FOOTER

.footer {
    border-top: 1px solid #CACAD6;
    border-bottom: 1px solid #CACAD6;
    margin-bottom: 44px;

    &__container {}

    // &__nav {
    //     box-sizing: content-box;
    //     min-height: 42px;
    //     padding: 10px 0;
    //     position: relative;
    //     display: grid;
    //     place-items: center;
    //     grid-template-columns: repeat(2, 1fr);
    // }

    &__menu {
        display: flex;
        gap: 20px;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &__item {
        bottom: 0;
    }

    &__logo {}

    &__socials {
        width: 100%;
        place-items: center;
        display: flex;
        justify-content: end;
        gap: 20px;
    }
}

.container {}

.header-footer {

    &__nav {}

    &__menu {}

    &__item {}

    &__logo {}
}

// ADAPTIVE

@media (max-width: 1080px) {
    .footer {
        &__menu {
            display: none;
        }

        &__nav {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 934px) {
    .header {

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0;
            color: white;
            background-color: #070707;
            height: auto;
            width: auto;
            transition: transform 1s ease;
            padding: 10px 0;
        }

        &__item {
            width: 100%;
            padding: 10px 50px 10px 20px;

            &:hover {
                background-color: white;
                color: #070707;
            }
        }

        &__menu {
            top: 80px;
            left: 0;
            position: absolute;
            z-index: -2;
            height: auto;
            width: auto;

            transform: translateY(-102%);
            // transform: translateY(-102%);

        }

        &__burger {
            display: flex;
        }

        &__menu-active {
            transform: translateY(calc(102%));
        }

        &__item {
            bottom: 0;
        }
    }
}


@media (max-width: 753px) {
    .meta {
        &__title {
            font-size: 76px;
        }

        &__subtitle {
            font-size: 30px;
        }
    }

    .tabs {

        &__container {
            display: block;
        }


        &__buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            margin-bottom: 20px;
        }


        &__nav-title {
            margin-bottom: 20px;
        }


        &__title {
            margin-bottom: 20px;
        }
    }

    .games {
        &__content {
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .other {
        &__items {
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);

            & .other__item:first-child {
                grid-row: 1/2;
            }
        }
    }

    .accessories {
        &__content {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
}

@media (max-width: 630px) {

    .meta {

        &__container {
            text-align: center;
        }

        &__button {
            width: 100%;
        }

        &__title {
            font-size: 55px;
        }

        &__subtitle {
            font-size: 23px;
        }
    }

    .tabs {

        &__tab {
            display: block;

        }
    }

    .tab {
        overflow: hidden;

        &__img {
            padding-bottom: 51.72%;
            margin-bottom: 20px;
        }

        &__video {
            height: auto;
            padding-bottom: 50%;
        }
    }

    .form {
        &__container {
            display: block;

            & :first-child {
                margin-bottom: 20px;
            }
        }
    }

}



@media (max-width: 514px) {


    .meta {

        &__button {
            flex-direction: column;
        }

        &__buy {
            width: 100%;
            text-align: center;
        }

        &__price {
            padding-left: 50px;
            padding-right: 50px;
        }

        &__button {
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }


    .main-subtitle {
        font-size: 29px;
    }

    .tabs {
        &__title {
            max-width: 100%;
        }
    }

    .games {
        &__content {

            display: block;

            & :not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__column {
            padding: 20px;
        }
    }


    .other {
        &__title {
            order: -1;
            font-size: 29px;
        }

        &__items {
            display: flex;
            gap: 20px;
            flex-direction: column;

            & img {
                width: 100%
            }

            ;

            & .other__item:first-child {
                grid-row: 1/2;
            }
        }
    }


    .accessories {
        &__content {
            display: block;

            & :not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &__item img+p {
            font-size: 20px;
            min-height: auto;
        }
    }

    .footer {
        &__menu {
            display: none;
        }

        &__nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            height: auto;
        }

        &__socials {
            order: -1;
            width: auto;
            gap: 30px;
        }
    }
}

@media (max-width: 427px) {
    .header {
        &__nav {
            grid-template-columns: 1fr 2fr 1fr;
        }

        &__logo,
        &__inner,
        &__menu {
            width: 100%;
        }
    }
}



@media (max-width: 372px) {

    .meta {

        &__title {
            font-size: 40px;
        }

        &__subtitle {
            font-size: 23px;
        }
    }

    .tabs {
        &__buttons {
            grid-template-columns: 1fr;
            place-items: center;
            gap: 15px;
        }
    }
}